<h1 style="color:#1f77b4; text-align:left; font-size:40px;">
    EDA - Exploring Data
</h1>

<h3 style="color:#555; text-align:left;">
    Dataset Structure, Descriptive Statistics, Outliers Detection, Correlation, Visualization of variables and relations
</h3>


<h2 style="color:#1f77b4; border-bottom: 3px solid #1f77b4; padding-bottom:4px;">
</h2>

<!-- MODELO: Secção principal numerada -->
<!-- 
<h2 style="background-color:#1f77b4; color:white; padding:10px; border-radius:6px;">
    X. Nome da Secção
</h2>
-->

<!-- MODELO: Secção com linha colorida -->
<!-- 
<h2 style="color:#ff7f0e; border-bottom: 3px solid #ff7f0e; padding-bottom:4px;">
    X. Nome da Secção
</h2>
-->

<!-- MODELO: Subsecção -->
<!-- 
<h3 style="color:#2ca02c; margin-top:10px;">
    X.Y Nome da Subsecção
</h3>
-->

<!-- MODELO: Caixa de Nota -->
<!-- 
<div style="border-left: 5px solid #1f77b4; padding:10px; background-color:#f5f9ff; margin:15px 0;">
    <b>Nota:</b> Texto da nota.
</div>
-->

# 1: Dataset Structure

Demographics
7043 linhas e 9 colunas
Não há missing values
Age: 19 aos 80 anos
Nº dependentes: 0 aos 9
Object (Y/N): Under 30, Senior Citizen, Married, Dependents
Object (F/M): Gender

Location
7043 linhas e 9 colunas
Não há missing values
Country é só USA
State é só California
City são 1106 ?? <- ver se não há nome iguais com formas diferentes de escrita

Population
1671 linhas × 3 colunas
No missing values
ID não parece ter ligação aos outros ID’s
É a população por zip code. 

Services
7043 linhas × 30 colunas
Tem missing values em offer e em internet type

Status
7043 linhas × 11 colunas
Missing values: Churn Category, Churn Reason (5174, são 73.46%)

5. Global summary by Table

In [ ]:
print("\nGlobal summary by table:")

global_summary = []

for name, df in dfs.items():
    total_missing = df.isna().sum().sum()
    pct_missing = (total_missing / (df.shape[0] * df.shape[1]) * 100).round(2)
    num_cols = len(df.select_dtypes(include='number').columns)
    cat_cols = len(df.select_dtypes(exclude='number').columns)
    global_summary.append([
        name, df.shape[0], df.shape[1], 
        total_missing, pct_missing, 
        num_cols, cat_cols
    ])

global_summary_df = pd.DataFrame(
    global_summary, 
    columns=[
        "table", "n_rows", "n_cols", 
        "total_missing", "pct_missing", 
        "num_numeric_cols", "num_categorical_cols"
    ]
).sort_values("pct_missing", ascending=False)

display(global_summary_df)

Global summary by table:

,table,n_rows,n_cols,total_missing,pct_missing,num_numeric_cols,num_categorical_cols
4,status,7043,11,10348,13.36,5,6
3,services,7043,30,5403,2.56,11,19
0,demographics,7043,9,0,0.00,3,6
2,population,1671,3,0,0.00,3,0
1,location,7043,9,0,0.00,4,5

# 2: Descriptive Statistics

# 3: Outliers Detection

# 4: Correlations

# 5: Visualization of variables and relations

<!-- MODELO: Secção principal numerada -->
<!-- 
<h2 style="background-color:#1f77b4; color:white; padding:10px; border-radius:6px;">
    X. Nome da Secção
</h2>
-->

<!-- MODELO: Secção com linha colorida -->
<!-- 
<h2 style="color:#ff7f0e; border-bottom: 3px solid #ff7f0e; padding-bottom:4px;">
    X. Nome da Secção
</h2>
-->

<!-- MODELO: Subsecção -->
<!-- 
<h3 style="color:#2ca02c; margin-top:10px;">
    X.Y Nome da Subsecção
</h3>
-->

<!-- MODELO: Caixa de Nota -->
<!-- 
<div style="border-left: 5px solid #1f77b4; padding:10px; background-color:#f5f9ff; margin:15px 0;">
    <b>Nota:</b> Texto da nota.
</div>
-->